/*
Program name: hw1.css
Author: Melissa Alfaro
Date created: 9/14/25
Date last edited: 9/26/25
Version: 1.0
Description: Homework 1 Patient Registration CSS Form
*/

/*Header Part*/
header { 
    width: 100%;
    background-color: rgba(160, 148, 248, 0.74);
}

/*Body Part*/
body{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgb(229, 226, 250);
    margin: 0;
    height: 100%;
    min-height: 100vh; /*To make sure the page is the height of the viewport*/

}

form {
    flex-grow: 1;
}

h1, h2 {
    text-align: center;
    font-family: "Arial Black", Impact, Helvetica, Arial, sans-serif;
    font-weight: normal;
    flex-grow: 1;
}

main {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    flex-grow: 1;
}
/*Image Part*/
.image {
    text-align: left;
} 

.td1 {
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

/* Formatting Header */
th{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

/* Make the page full height and flexbox-based */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    font-weight: normal;
    flex-direction: column; /* stack header, main, footer vertically */
}

/* Main content stretches to fill space and push footer down */
main {
    flex: 1;
    display: flex;
    justify-content: center;  /* center thank you message horizontally */
    align-items: center;      /* center thank you message vertically */
    text-align: center;
}

/* Footer naturally stays at bottom */
footer {
    background-color: rgb(248, 239, 248);
    text-align: center;
    padding: 10px 0;
    font-size: smaller;
    width: 100%;
}
/*Text Continued*/
label
{
    text-align: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-weight: normal;

}

input
{
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: normal ;
    font-weight: normal;
}

textarea
{
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: normal ;
    font-weight: normal;
}

/*Date Formatting*/
#today
{
    text-align: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: normal ;
    font-weight: normal;
}
p
{
    text-align: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: normal ;
    font-weight: bold;
    margin-right: 40px;
}

/*range slide number formatting*/
#range-slider {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: normal;
    font-weight: normal;
    margin-left: 5px; /* optional: adds a little space after the slider */
  }

  /* Custom class for form formatting */
.format {
    border: 1px solid #999;
    padding: 10px;
}

/* Styling the logo image */
#logo {
    border-radius: 10px; /* gives slightly rounded corners */
}

